.module{
	margin: 20px;
}

.login-module{
	background-color: #ccc;
}

.login-content{
	background-color: #ffffff;
	margin-top: 30px;
	padding: 20px 10px 10px 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

form{
	margin-top: 20px;
}

h5{
	text-align: center;
}

::placeholder{
	text-align: center;
}


table th{
	text-align: center;
}

.details-content{
	background-color: #ccc;
	padding: 15px;
}

.label{
	font-weight: bold;
	width: 200px;
}

.inner-form{
	padding: 15px;
}

.form-input{
	border: 1px solid #ccc;
	border-left: 6px solid #800000;
	border-radius: 5px;
	padding: 5px;
}

.form-button{
	position: relative;
	left: 1000px;
}