
.module{
	margin: 20px;
}

.login-module{
	background-color: #ccc;
}

.login-content{
	background-color: #ffffff;
	margin-top: 30px;
	padding: 20px 10px 10px 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

form{
	margin-top: 20px;
}

h5{
	text-align: center;
}

::placeholder{
	text-align: center;
}


table th, td{
	text-align: center;
}

.details-module{
	background-color: #cccc;
}

.details-content{
	padding: 15px;
}

.label{
	font-weight: bold;
	width: 200px;
}

.inner-form{
	padding: 15px;
}

.form-input{
	border: 1px solid #ccc;
	border-left: 6px solid #800000;
	border-radius: 5px;
	padding: 5px;
}

.add-request{
	position: absolute;
	right: 250px;
}

.btn-history{
	margin: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	left: 800px;
}

.btn-edit{
	margin: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	left: 800px;
}

.btn-submit{
	margin: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	left: 900px;
}

.btn-cancel{
	margin: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	left: 900px;
}
